venv
APIManager/model_access_config.YAML
requirements.txt
.idea
/arxiv submission
**/__pycache__
*.pyc
*.js
!frontend/**/*.js
!frontend/*.js
*.css
!frontend/**/*.css
!frontend/*.css
node_modules/
frontend/dist/
/MetadataManager/MetadataStore/MetadataStorage
